PORT=3000
SITE_URL=https://na-dev-studio.vercel.app
GOOGLE_SITE_VERIFICATION=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password
EMAIL_TO=hello@nadevstudio.com
